@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor1: #3C2F80;
    --cor2: #26B6C6;
    --cor3: #F20587;
}
header{
    background-image: linear-gradient(to top, var(--cor1), var(--cor2) );
    padding: 10px;
}
header > h1{
    text-align: center;
    padding: 10px 10px 0px 10px; 
    font-size: 2.1em;
    color: white;
}

header > p{
    max-width: 450px;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.2em
}
nav{
    background-color: var(--cor1);
    padding: 10px;
}
nav > a{
    margin: 0px 15px;
    padding: 5px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}